$font-stack:    Helvetica, sans-serif;
// $primary-color: rgb(112, 45, 45);
$primary-color: #660040;
$secondary-color: rgb(189, 133, 133);
$my-yellow: #b3b333;
$my-gray: #80ab8c;
$my-white: #F5F5F5;
$background-light-color: rgb(207, 200, 200);