#root {
    text-align: center;
    width: 100%;
}

body {
    background-image: url('images/Background.jpg');
    background-repeat: repeat;
    background-size: 100%;
}

i {
    cursor: pointer;
    transition: all 0.5s;
}

.flex-box i:hover {
    transform: scale(1.2);
    /* background-color: bisque; */
}

.container {
    /* max-width: 960px; */
    text-align: center;
}

#videoPlayerContainer{
    top: 100px;
}
.btn {
    background-color: grey;
}

.barContainer {
    background-color: inherit;
    grid-row: 3;
    grid-column: 1/3;
    display: flex;
}


.selectorContainer {
    background-color: goldenrod;
    grid-row: 4;
    grid-column: 1/3;
    align-content: center;
}
.removerContainer {
    background-color: goldenrod;
    grid-row: 5;
    grid-column: 1/3;
    align-content: center;
}

.sidebar {
    background-color: gold;
    grid-row: 1/5;
    grid-column: 3;
}


/* overlay css */
#outer-box {
  position: relative;
}

#outer-box video {
  width: 100%;
  height: 100%;
}

#outer-box #inner-box {
  background: rgba(187, 57, 57, 0.699);
  height: 100%;
  width: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
  text-align: center;
}

#outer-box #inner-box #button-bar {
  background: rgba(221, 53, 109, 0.699);
  height: auto;
  width: auto;
  top: 5%;
  right: 3%;
  border-radius: 20%;
  position: absolute;

}

/* #outer-box #inner-box #button-bar i {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    margin: 5%;
} */

#outer-box #inner-box img {
    width:100%;
    height:100%;
    opacity: 0.5;
}

#outer-box:hover #inner-box {
  opacity: 1;
  transition: opacity .5s;
}
/* 
#outer-box:hover #inner-box #button-bar {
opacity: 1;
} */

.container .flex-box {
    background-color: white;
}

.flex-box {
    border: 2px solid rgba(136, 36, 36, 0.5);
    border-radius: 5px;
    margin: 5px;
    display: flex;
}

.flex-box i {
    flex-grow: 1;
    margin: 5px;
}
#prog {
    flex-grow: 2;
    width: 100%;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    height: 50%;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25) inset;
}
#prog2 {
    /* width: 1%; */
    height: 100%;
    background-color: rgba(122, 12, 31, 0.822);
    opacity: 0.5;
}