@import 'variables';

.perspectives {
    // display: flex;
    padding: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 19%);
    margin: 0;
    // flex-flow: row wrap;
    // justify-content: space-around;
}

.perspective {
    // flex-grow: 1;
    width: 100%;
    padding: 5px;
    margin: auto;
    background-color: $primary-color;
    transition: all 1s; 
    &:hover {
        transform: scale(1.2)
    }
    &:nth-child(even) {
        background-color: $secondary-color;
    }
    h1 {
        background-color: $secondary-color;
        display: none;
    }
    img {
        width: 100%;
    }
    output {
        display: none;
    }
    p {
        display: none;
    }
    
}


/* Medium screens */
@media (max-width: 800px) {
  .perspectives {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    grid-template-columns: repeat(3, 32.5%);
  }
}

/* Small screens */
@media (max-width: 500px) {
  .perspectives {
    /* On small screens, we are no longer using row direction but column */
    grid-template-columns: repeat(2, 45%);
  }
}