{{!-- NavBAR --}}
<div class="topnav">
    <a href="#home">Home</a>
    <a class="active" href="#VideoTool">Video Tool</a>
    <a class="right" href="#LogIn">Log In</a>
    <a class="right" href="#about">About</a>
</div>