<div id="video1-container">
    <div id="outer-box">
        <video class="video-pos" id="video0"></video>
        <div id="inner-box">
            <img src="dummy1.png" alt="overlayImage">
            <div id="button-bar">
                <i id="audio1" class="material-icons">mic</i>
                <i id="fullscreen1" class="material-icons">fullscreen</i>
                <i id="remove1" class="material-icons">clear</i>
                {{ varr }}
            </div>
        </div>
    </div>
</div>