#root {
    /* margin: 20px; */
    /* width: 90%; */
    /* height: auto; */
    text-align: center;
    /* display: flex; */
    width: 100%;
    
}

.body {
    background: antiquewhite;
}

i {
    cursor: pointer;
}

.container {
    /* max-width: 960px; */
    text-align: center;
}
.btn {
    background-color: grey;
}

.barContainer {
    background-color: grey;
    grid-row: 3;
    grid-column: 1/3;
}

.selectorContainer {
    background-color: goldenrod;
    grid-row: 4;
    grid-column: 1/3;
    align-content: center;
}
.removerContainer {
    background-color: goldenrod;
    grid-row: 5;
    grid-column: 1/3;
    align-content: center;
}

.sidebar {
    background-color: gold;
    grid-row: 1/5;
    grid-column: 3;
}


/* overlay css */
#outer-box {
  position: relative;
}

#outer-box video {
  width: 100%;
  height: 100%;
}

#outer-box #inner-box {
  background: rgba(187, 57, 57, 0.699);
  height: 100%;
  width: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
}

#outer-box #inner-box #button-bar {
  background: rgba(221, 53, 109, 0.699);
  height: auto;
  width: auto;
  top: 5%;
  right: 3%;
  border-radius: 20%;
  text-align: right;
  position: absolute;
}

#outer-box #inner-box img {
    width:100%;
    height:100%;
    opacity: 0.5;
}

#outer-box:hover #inner-box {
  opacity: 1;
  transition: opacity .5s;
}
/* 
#outer-box:hover #inner-box #button-bar {
opacity: 1;
} */